//common styles for all form elements
.form-item {
  color: $gray-darker;
  margin-bottom: 1em;
  max-width: 32em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0;
  }
}

legend {
  font-weight: 600;
  margin-bottom: 0.2em;
}

//reusable classes
.form-options-list {
  line-height: 160%;

  input {
    margin: 0 4px 0 1px;
  }
}
