<nav id="book-menu" aria-labelledby="book-menu-header">
	<div {{ attributes }} class="{{ classes }}">
		<h2 id="book-menu-header" class="block__title">{{ book_title }}</h2>

		{% block content %}
			{% if pl == 1 %}
				{% include "@molecules/menus/book-menu/_book-menu-links.twig" %}
			{% else %}
				{{ content }}
			{% endif %}
		{% endblock %}

	</div>
</nav>
