/* Styling for the text areas */

.form-item__textfield {
  border: 1px solid $gray-lighter;
  padding: 0.625em 1em;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 6px;
  width: 100%;

  &:focus {
    /*outline: 2px dotted $color-link--hover;*/
    border: 2px solid $gray;
    margin: -1px; /* Fixes field moving due to border change when selected */
    outline: none;
  }

  &:not(:placeholder-shown):invalid {
      border: 2px solid $red;
      margin: -1px;
  }

  &:not(:placeholder-shown):valid {
    border: 2px solid $teal;
    margin: -1px;
  }

  &::-webkit-input-placeholder {
    color: $gray-light;
  }

  &:-moz-placeholder {
    color: $gray-light;
  }

  &::-moz-placeholder {
    color: $gray;
  }

  &:-ms-input-placeholder {
    color: $gray
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

/* Styling for the form field area */

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: 0;
  margin: 2em 0 1em;
  padding: 1em;
  background-color: $near-white;

  .button {
    margin-top: 1em;
  }
}

.form-item__textarea {
  font-family: $font;
  font-size: 0.9em;
}

/* Styling for the required fields */

[aria-required=true]:before {
  content: "*";
  color: $red;
  padding-right: 5px;
}
