//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and typography into
// components/_patterns/00-base/global/typography/_typography.scss

// Horizontal spacing.
$h-space: rem-calc(20);

// More space.
$h-space-double: $h-space * 2;
$h-space-triple: $h-space * 3;

// Less space.
$h-space-half: $h-space / 2;
$h-space-third: $h-space / 3;
$h-space-quarter: $h-space / 4;

// Vertical spacing.
$v-space: rem-calc(30);

// Less space.
$v-space-half: $v-space / 2;
$v-space-third: $v-space / 3;
$v-space-quarter: $v-space / 4;
