//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and typography into
// components/_patterns/00-base/global/typography/_typography.scss

// Horizontal spacing (x).
$space-x: rem-calc(30);

// Less space.
$space-x-half: $space-x / 2;
$space-x-third: $space-x / 3;
$space-x-quarter: $space-x / 4;

// Vertical spacing (y).
$space-y: rem-calc(20);

// More space.
$space-y-double: $space-y * 2;
$space-y-triple: $space-y * 3;

// Less space.
$space-y-half: $space-y / 2;
$space-y-third: $space-y / 3;
$space-y-quarter: $space-y / 4;
