html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.layout-container {
  background: white;
}

body.footer-color {
  &--dk-gray {
    background: $gray-darkest;
  }

  &--md-gray {
    background: $gray;
  }

  &--lt-gray {
    background: $gray-lightest;
  }

  &--white {
    background: white;
  }
}
