html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// Background color for main content. Body color is set by footer color.
.layout-container,
.layout__wrapper--main {
  background: white;
}

body.footer-color {
  &--dk-gray {
    background: $gray-darkest;
  }

  &--md-gray {
    background: $gray;
  }

  &--lt-gray {
    background: $gray-lightest;
  }

  &--white {
    background: white;
  }
}

.grid-container {
  padding-right: rem-calc(40);
  padding-left: rem-calc(40);
}

.layout__wrapper--main {
  background: white;
}
