@import '../../01-atoms/00-text/00-headings/_headings.scss';

// These styles are specifically for use within Pattern Lab.
.sg-main {
  padding: 0 4%;
  font-family: $proxima;
}

.sg-tabs-panel {
  min-height: 25em !important;
}

.sg-pattern-extra-code {
  width: 100% !important;
}

.sg-tab-title-active a {
  background-color: white !important;
  &:focus {
    outline: none;
  }
}

.language-markup {
  background-color: white !important;
  code {
    font-size: 12px !important;
    background-color: white !important;
  }
}

#sg-patterns {
  .sg-subtype h2 {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    clear: both;
    background: $near-white;
    @include breakout;
    padding: 6px 0 0 4.5%;
    margin-top: 2.5em;
    a {
      color: $red;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: $teal;
      }
    }
  }
  .sg-subtype:first-child h2 {
    margin-top: 0;
  }
}

.sg-pattern-title a {
  font-family: $proxima !important;
  color: $near-black !important;
  font-size: 1.375rem;
  text-transform: uppercase;
  font-style: normal;
}

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    flex: auto;
    padding: 0.3em;
    margin: 0 0.3em 1em;
    min-width: 9em;
    max-width: 10em;
  }

  &__sample {
    display: block;
    height: 100px;
    margin-bottom: 0.3em;
    border: 1px solid #bbb;
  }
}

.sg-typography {
  display: flex;
  flex-wrap: wrap;

  .sg-typography__group {
    padding: 1em 0.25em;
    min-width: 40%;

    p {
      font-size: rem-calc(28);
    }

    .sg-info {
      padding: 10px;
      font-size: 30px;
    }
  }
}

// For creating "instructions" components.
.sg-instructions {
  h4 {
    @include heading(22, 700);
    text-transform: none;
    margin-bottom: 1rem;
  }
  h5 {
    @include heading(18, 700);
    margin-top: 2rem;
  }
}

.sg-pattern-desc {
  h3 {
    font-family: $proxima;
    font-style: normal;
    font-weight: 600;
  }
}
