//common styles for all form elements
.form-item {
  color: $gray-darker;
  margin-bottom: 1em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0 0.3em 0;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

// Styling for the required fields

[aria-required='true']:before {
  content: '*';
  color: $red;
  padding-right: 5px;
}

// Remove margin on the second of nested form-items.
.form-item > .form-item {
  margin-bottom: 0;
}
