<form>
  <fieldset class="form-fieldset">

    <legend>Login Form</legend>

    <div class="form-item">
      {% include "atoms-textfield--email" %}
    </div>

    <div class="form-item">
      {% include "atoms-textfield--password" %}
    </div>

    {% include "@atoms/02-buttons/01-button.twig" %}

  </fieldset>
</form>
