.pager {
	margin: 2em 0;
}

.pager__items {
	@include list-reset;
	text-align: center;
}

.pager__item {
	display: inline-block;
	margin: 0 rem-calc(6);
}

.pager__link,
.pager__link:link,
.pager__link:visited {
	display: block;
	min-width: 34px;
	height: 34px;
	background: $red;
	color: $white;
	border: 1px solid $red;
	padding: 7px 10px 6px;
	text-decoration: none;
	line-height: 1.25;
	font-size: 16px;
	font-weight: 700;

	&.is-active,
	&:hover {
		background: $white;
		color: $red;
	}

	&:focus {
		outline: 2px dotted $near-black;
		outline-offset: 0;
	}
}

.pager__link--prev {
	svg {
		transform: rotate(180deg);
	}
}
