.pager {
  margin: 2em 0;
}

.pager__items {
  @include list-reset;
  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 0.75em;
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  border: 1px solid $red;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  padding: 8px;
  display: block;
  min-width: 36px;

  &.is-active,
  &:hover {
    color: $white;
    background: $red;
  }

  &:focus {
    outline: 2px dotted $near-black;
    outline-offset: 0;
    border-color: $clear;
  }
}

.pager__link--prev {
  svg {
    transform: rotate(180deg);
  }
}
