$proxima: 'proximanova', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$capita: 'Capita', 'Times New Roman', serif;

// Fonts
$font-body: $proxima;
$font-heading: $proxima;

$font: $proxima;
$font-alt: $capita;
