// Neutrals.
$clear: rgba(0, 0, 0, 0);
$white: #fff;
$near-white: #f2f2f2;
$gray-light: #ccc;
$gray: #666;
$gray-dark: #3c3c3c;
$near-black: #202022;
$black: #000;

// Colors.
$red: #b00;
$red-dark: #830000;
$orange: #d65828;
$orange-dark: #ab4620;
$green: #909738;
$green-dark: #656927;
$teal: #26686d;
$purple: #442369;
$blue: #667b96;
$violet: #851e5e;

// Other.
$gray-border: #ddd;
