$clear: rgba(0, 0, 0, 0);
$white: #fff;
$near-white: #f7f7f7;
$gray-lightest: #eaeaea;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #444446;
$gray-darker: #303033;
$gray-darkest: #202024;
$black: #000;

//colors
$red: #b00;
$red-dark: #830000;

$orange: #d65828;
$orange-dark: #c04f24;

$green: #909738;
$green-dark: #73792d;
$teal: #1c7c89;

$purple: #5d3f82;
$blue-dark: #476c97;
$violet: #851e5e;
