// Neutrals.
$clear: rgba(0, 0, 0, 0);
$white: #fff;
$near-white: #efefef;
$gray-light: #c2c2c2;
$gray: #666;
$gray-dark: #333;
$near-black: #1e1e1e;
$black: #000;

// Colors.
$red: #b00;
$red-dark: #830000;
$orange: #d65828;
$orange-dark: #b54a22;
$green: #909738;
$green-dark: #656927;
$teal: #26686d;
$purple: #442369;
$blue: #667b96;
$violet: #851e5e;
