@charset "UTF-8";

// Include Foundation
@import 'settings';
@import '../../node_modules/foundation-sites/scss/foundation';

// Global styles.
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids.
@include foundation-xy-grid-classes;

// Other components.
@include foundation-table;
@include foundation-button;

@import '00-base/**/*.scss';
@import '01-atoms/**/*.scss';
@import '02-molecules/**/*.scss';
@import '03-organisms/**/*.scss';
@import '04-templates/**/*.scss';
