<!-- Sample content for inline callouts -->

  <ol>
    <li>Navigate to
      <a href="https://go.osu.edu/LabArchives">go.osu.edu/LabArchives</a>
    </li>
    <li>Log-in using your
      <strong>lastname.#</strong>
      and
      <strong>university password</strong>
    </li>
    <li>
      <span class="callout callout--ux-tip">You will be directed to the <strong>Login Setup</strong> page.</span>
    </li>
    <li>Click
      <strong>I have an existing LabArchives account already</strong>
    </li>
    <li>Enter the
      <strong>e-mail address and password</strong>
      of your
      <strong>existing account information</strong>
    </li>
    <li>Click
      <strong>Link Existing Account</strong>
    </li>
  </ol>
