<details>
	<summary>
		Sample of lists within long text
	</summary>
	<div class="details__inner cke-field">
		<p>Forage everyday carry church-key squid fanny pack synth. Unicorn yr next level shabby chic tilde, gastropub fanny pack pop-up. Lyft health goth tbh yuccie disrupt. Yr 90's literally, knausgaard normcore yuccie roof party 3 wolf moon glossier letterpress kogi bushwick meditation coloring book scenester. Beard mlkshk polaroid deep v, seitan salvia selvage palo santo la croix jianbing health goth ramps four loko vexillologist retro.</p>
		<ul>
			<li class="list-item">This is the first item in the ul.</li>
			<li class="list-item">Here's the second item.</li>
			<li class="list-item">Here's the third item.</li>
			<ul>
				<li class="list-item">Link 1</li>
				<li class="list-item">Link 2</li>
			</ul>
			<li class="list-item">And here's the last item.</li>
		</ul>

		<p>Tumeric craft beer cliche vaporware bespoke viral marfa mlkshk sartorial offal swag echo park. Squid raw denim prism woke tote bag you probably haven't heard of them truffaut mlkshk kombucha gochujang air plant. Occupy godard wolf asymmetrical keytar, jianbing sartorial +1 adaptogen. +1 venmo taxidermy, pok pok try-hard prism health goth squid marfa tousled lumbersexual fam hella edison bulb polaroid.</p>

		<h2>Now for an ol within long text</h2>
		<p>I'm baby mumblecore selvage church-key celiac photo booth vexillologist tbh lumbersexual chia tumblr occupy hammock raclette gochujang activated charcoal. Mixtape hell of vexillologist typewriter tofu adaptogen paleo slow-carb copper mug enamel pin. Meh occupy meggings, post-ironic try-hard biodiesel skateboard 3 wolf moon enamel pin aesthetic quinoa neutra. Tumblr cliche godard bespoke. Jianbing succulents ugh fingerstache.</p>
		<ol>
			<li class="list-item">Snackwave synth affogato, la croix slow-carb cronut neutra green juice yuccie pitchfork.
			</li>
			<ol>
				<li class="list-item">Man bun tumblr chia gluten-free flannel photo booth humblebrag.</li>
				<li class="list-item">Schlitz fixie post-ironic green juice cornhole, migas hoodie.
				</li>
				<ol>
					<li class="list-item">Knausgaard pickled cornhole palo Santo hexagon.</li>
					<li class="list-item">Bicycle rights ugh neutra sartorial artisan coloring book migas prism.</li>
				</ol>
			</ol>
			<li class="list-item">Forage shabby chic narwhal put a bird on it, venmo before they sold out vaporware VHS ugh.</li>
		</ol>

		<h3>Here's a ul directly following an h3</h3>
		<ul>
			<li class="list-item">This is the first item in the ul.</li>
			<li class="list-item">Here's the second item.</li>
			<li class="list-item">Here's the third item.</li>
		</ul>
	</div>
</details>
