
<!-- Solitary cards -->

<h4>Example of solitary cards</h4>

<div class="card card--small">
  <img class="card__image" alt="Card Image" src="https://placeimg.com/640/480/animals"/>
  <h1 class="card__title">Card title</h1>
  <p class="card__content">A small, solitary card.</p>
  <p class="card__content">Maybe you'll want more text here. <br />A few lines or so?</p>
  <button class="button button--alt card__button">Card button</button>
</div>

<div class="card card--medium">
  <div class="card__image-container">
  <img class="card__image" alt="Card Image" src="https://placeimg.com/640/480/animals"/></div>
  <h1 class="card__title">Card title</h1>
  <p class="card__content">A medium, solitary card. A medium, solitary card. A medium, solitary card.</p>
  <p class="card__content">Maybe you'll want more text here. <br />A few lines or so?</p>
  <button class="button button--alt card__button">Card button</button>
</div>

<div class="card card--large">
  <img class="card__image" alt="Card Image" src="https://placeimg.com/640/480/animals"/>
  <h1 class="card__title">Card title</h1>
  <p class="card__content">A large, solitary card. A large, solitary card. A large, solitary card. A large, solitary card.</p>
  <p class="card__content">Maybe you'll want more text here. <br />A few lines or so?</p>
  <button class="button button--alt card__button">Card button</button>
</div>

<div class="card card--small">
  <h1 class="card__title">Card title</h1>
  <p class="card__content">A small card without an image.</p>
  <p class="card__content">Maybe you'll want more text here. <br />A few lines or so?</p>
  <button class="button button--alt card__button">Card button</button>
</div>

<!-- Cards laid out in a grid -->

<h4>Example of cards laid out in a grid</h4>

<div class="card-grid">
  {% for i in 0..4 %}
  <div class="card card--small">
    <img class="card__image" alt="Card Image" src="https://placeimg.com/640/480/animals"/>
    <h1 class="card__title">Card title</h1>
    <p class="card__content">A small card in a grid.</p>
    <p class="card__content">Maybe you'll want more text here. <br />A few lines or so?</p>
    <button class="button button--alt card__button">Card button</button>
  </div>
  {% endfor %}
</div>
