<details>
	<summary>Sample of headings within long text</summary>


	<div class="details__inner cke-field">
		<p>Tumeric craft beer cliche vaporware bespoke viral marfa mlkshk sartorial offal swag echo park. Squid raw denim prism woke tote bag you probably haven't heard of them truffaut mlkshk kombucha gochujang air plant.
			<a>Occupy godard wolf</a>
			asymmetrical keytar, jianbing sartorial +1 adaptogen. +1 venmo taxidermy, pok pok try-hard prism health goth squid marfa tousled lumbersexual fam hella edison bulb polaroid.</p>

		<h2>This is an h2</h2>

		<p>I'm baby mumblecore selvage church-key celiac photo booth vexillologist tbh lumbersexual chia tumblr occupy hammock raclette gochujang activated charcoal. Mixtape hell of vexillologist typewriter tofu adaptogen paleo slow-carb copper mug enamel pin. Meh occupy meggings, post-ironic try-hard biodiesel skateboard 3 wolf moon enamel pin aesthetic quinoa neutra. Tumblr cliche godard bespoke. Jianbing succulents ugh fingerstache.</p>

		<h2>This is another h2, but longer</h2>
		<h3>With an h3 directly following</h3>
		<p>Freegan tbh waistcoat, 8-bit gastropub swag kinfolk cloud bread beard cred craft beer bushwick. Chia occupy lo-fi fixie, squid vice literally skateboard paleo tote bag palo santo. Readymade edison bulb single-origin coffee truffaut crucifix squid meggings cray vinyl. Wayfarers cardigan pabst, retro waistcoat 90's celiac. Pabst letterpress kitsch pinterest mustache. Beard raw denim health goth fixie slow-carb sartorial tumeric chillwave occupy.</p>

		<h3>This is another h3</h3>
		<p>Migas chia fixie tbh enamel pin man braid. Try-hard pitchfork tacos tumeric knausgaard freegan, flexitarian ramps portland helvetica gochujang synth kitsch direct trade organic. Banjo fixie readymade listicle. Hashtag keffiyeh pinterest, franzen snackwave letterpress four loko fashion axe tbh hoodie roof party. Ramps hell of keytar franzen occupy.</p>

		<h3>This is yet another h3, but even longer</h3>
		<h4>With an h4 directly following</h4>
		<p>Wolf brooklyn tacos bespoke hoodie photo booth. Live-edge hell of brunch raw denim shaman yuccie. Venmo af deep v yuccie yr paleo. Thundercats deep v post-ironic sartorial, meh pok pok cornhole disrupt green juice photo booth offal ennui microdosing. Meggings before they sold out retro, chartreuse blog celiac direct trade deep v poke.</p>
	</div>
</details>
