.social-media__item {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.social-media__item a {
  float: left;
  background: $gray;
  color: $white;
  width: 2.65em;
  margin: 0.35em 0.7em 0.15em 0;
  text-align: center;
  padding: 0.625em 0 0.45em;
  font-size: 105%;
  border-radius: 4px;
}

.social-media__item a span.ext {
  display: none;
}

// focus
.social-media__item a:focus {
  outline: 2px dotted black;
  outline-offset: 0;
}

//hover colors
.social-media__item a:hover {
  background: $gray-dark;
}
.social-media__item--Twitter a:hover {
  background: #00aced;
}
.social-media__item--Facebook a:hover {
  background: #1877f2;
}
.social-media__item--LinkedIn a:hover {
  background: #007bb6;
}
.social-media__item--YouTube a:hover {
  background: #f00;
}
.social-media__item--Instagram a:hover {
  background: #c13584;
}
.social-media__item--Photo-sharing a:hover {
  background: #6eb800;
}
