.sample-grid {
  margin-bottom: 2em;
  .cell {
    background: $near-white;
    padding: 10px 15px;
    min-height: 80px;
  }
}

// Helper classes.
.grid-grow {
  flex-grow: 1 !important;
}

@mixin container-padding($factor: 1) {
  padding-right: $grid-container-padding * $factor;
  padding-left: $grid-container-padding * $factor;
}

.grid-container {
  @include container-padding(0.875);

  @include breakpoint(medium) {
    @include container-padding(1.75);
  }

  @include breakpoint(large) {
    @include container-padding(2.5);
  }
}
