.sample-grid {
	margin-bottom: 2em;
	.cell {
		background: $near-white;
		padding: 10px 15px;
		min-height: 80px;
	}
}

// Helper classes.
.grid-grow {
	flex-grow: 1 !important;
}

// TODO: Reorganize/rethink this whole component.
$grid-container-padding: rem-calc(40);

.grid-container {
	padding-right: $grid-container-padding;
	padding-left: $grid-container-padding;
}
