<div class="grid-container sample-grid">
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">One</div>
    <div class="cell large-auto">Two</div>
    <div class="cell large-auto">Three</div>
    <div class="cell large-auto">Four</div>
    <div class="cell large-auto">Five</div>
    <div class="cell large-auto">Six</div>
  </div>
</div>