<div class="card-grid grid-x grid-margin-x">
	{% for card in card_data %}
		{% if loop.length > 5 %}
			{% set item_classes = 'cell small-12 medium-6 large-4 xlarge-3 grid-grow' %}
		{% else %}
			{% set item_classes = 'cell small-12 medium-auto' %}
		{% endif %}
		{% include "@molecules/card/card.twig" with {
      "card_modifiers": box.card_modifiers,
      "card_extra_classes": item_classes,
      "card_image": card.card_image,
      "card_title": card.card_title,
      "card_text": card.card_text,
      "card_link_title": card.card_link_title,
      "card_link_url": card.card_link_url,
    } %}
	{% endfor %}
</div>
