<form>
	<fieldset class="form-fieldset">

		<legend>Login Form</legend>

		<div class="form-item">
			{% include "@atoms/05-form-elements/textfield/textfield.twig"
            with {field_label:email_field.field_label,
              field_placeholder:email_field.field_placeholder
            } %}
		</div>

		<div class="form-item">
			{% include "@atoms/05-form-elements/textfield/textfield.twig"
            with {field_label:password_field.field_label,
              field_placeholder:password_field.field_placeholder
            } %}
		</div>

		<button class="button" href="#">Submit</button>

	</fieldset>
</form>
