{% set paragraph_base_class = paragraph_base_class|default('paragraph') %}

{% if paragraph_modifier is defined %}
  {% set paragraph_class = "#{paragraph_base_class} #{paragraph_base_class}--#{paragraph_modifier}" %}
{% else %}
  {% set paragraph_class = paragraph_base_class %}
{% endif %}

<p class="{{paragraph_class}}">
  {% block paragraph_content %}
    {{ paragraph_content }}
  {% endblock %}
</p>
