//footer layout
.site-footer {
  padding: 1.5em 0;
}

.site-footer__social-media {
  margin-bottom: 1.75em;
}

.site-footer__address-block {
  margin-bottom: 1.5em;
}

//layout after large breakpoint
@include breakpoint(large) {
  .site-footer__social-media {
    float: right;
  }
}

//footer text
.footer-text {
  line-height: 125%;
  font-size: 0.875rem;
}

.site-footer__ada-statement,
.site-footer__footer-text {
  @extend .footer-text;
}

//footer login
.site-footer__login-link {
  margin-top: 2em;

  a {
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

//mixin for colors
@mixin footer(
  $bg-color: $near-black,
  $text-color: $white,
  $link-hover: $gray-light,
  $pipe-color: $gray-light
) {
  background: $bg-color;
  color: $text-color;

  a {
    color: $text-color;
  }

  a:hover {
    color: $link-hover;
  }

  .pipe {
    color: $pipe-color;
  }

  .social-media__item a {
    color: white;
  }
}

.site-footer,
.site-footer--dk-gray {
  @include footer;

  .social-media__item a:focus {
    outline: 2px dotted $white;
  }
}

.site-footer--md-gray {
  @include footer($gray, $white, $near-white, $near-white);

  .social-media__item a {
    border: 1px solid $gray-light;
  }
}

.site-footer--lt-gray {
  @include footer($near-white, $near-black, $red, $red);
}

.site-footer--white {
  @include footer($white, $near-black, $red, $red);
}
