nav.tabs {
  margin: rem-calc(0 0 20);
  border: none;
  border-bottom: 1px solid $gray-border;
}

.menu.menu--tabs {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

.menu--tab {
  display: inline-block;
}

.menu--tab__link {
  color: $red;
  font-weight: 600;
  padding: rem-calc(8 16 7);

  &.is-active {
    background: $gray-border;
    color: $black;
  }

  &:hover {
    background-color: $near-black;
    color: $white;
  }

  &:focus {
    outline: 3px solid $black;
  }
}
