<div class="form-item">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield" aria-required="true">Name</label>
  <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="First, Middle, Last">
</div>
