<div class="sg-instructions">
	<h4>Button Usage</h4>

	<p>
		Add the
		<code>button</code>
		class to apply the default button style. Add an additional
		<code>hollow</code>
		class to create a hollow (inverse) button.</p>

	<p>Use the
		<code>&lt;button&gt;</code>
		tag if the button performs an action that changes something on the current page or submits a form. Add the attribute
		<code>type="button"</code>
		to
		<code>&lt;button&gt;</code>
		elements, unless the button submits a form.</p>

	<p>Use the
		<code>&lt;a&gt;</code>
		tag if the "button" is a link to another page, or a link to an anchor within a page.</p>

	<h5>Colors</h5>
	<p>Add color classes to give buttons additional meaning.</p>
	<ul>
		<li>
			<code>primary</code>
			(default color)
		</li>
		<li>
			<code>secondary</code>
		</li>
		<li>
			<code>success</code>
		</li>
		<li>
			<code>alert</code>
		</li>
		<li>
			<code>warning</code>
		</li>
		<li>
			<code>disabled</code> (must also add <code>aria-disabled="true"</code> to button attributes when using the disabled variant)
		</li>
	</ul>

	<h5>Sizes</h5>
	<p>Add size classes to change the button's size. Omit a size class to use the default size.
	</p>
	<ul>
		<li>
			<code>small</code>
		</li>
		<li>
			<code>large</code>
		</li>
	</ul>
</div>
