<button class="button primary" href="#" type="button">Primary (default)</button>
<button class="button secondary" href="#" type="button">Secondary</button>
<button class="button success" href="#" type="button">Success</button>
<button class="button alert" href="#" type="button">Alert</button>
<button class="button warning" href="#" type="button">Warning</button>
<button class="button disabled" href="#" aria-disabled="true">Disabled</button>
