<button class="button hollow primary" href="#" type="button">Primary</button>
<button class="button hollow secondary" href="#" type="button">Secondary</button>
<button class="button hollow success" href="#" type="button">Success</button>
<button class="button hollow alert" href="#" type="button">Alert</button>
<button class="button hollow warning" href="#" type="button">Warning</button>
<button class="button hollow disabled" href="#" aria-disabled="true">Disabled</button>
