<button class="button large" href="#" type="button">Large</button>
<button class="button" href="#" type="button">Basic (default)</button>
<button class="button small" href="#" type="button">Small</button>
