@mixin button(
  $variant: normal,
  $bg: $red,
  $color: $white,
  $hoverBg: $red-dark,
  $hoverColor: $white
) {
  background-color: $bg;
  color: $color;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  // Differences between normal button and reverse button.
  @if $variant == reverse {
    box-shadow: none;
    padding: 0.5em 1em 0.4375em;
    border: 1px solid $color;
  } @else {
    border-bottom: 3px solid $hoverBg;
    padding: 0.5em 1em 0.375em;
  }

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
    color: $hoverColor;

    // If link.
    a {
      color: $hoverColor;
    }
  }

  &:focus {
    outline: 2px dotted $gray-darkest;
    outline-offset: 0;
    background-color: $hoverBg;
  }

  // Styles for when link is made to look like a button
  a {
    color: $color;
    text-decoration: none;

    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin button-gray {
  @include button(normal, $gray, $white, darken($gray, 9%));
}

@mixin button-teal {
  @include button(normal, $teal, $white, darken($teal, 7%));
}

@mixin button-alt {
  @include button(reverse, $clear, $red, $red, $white);
}

@mixin button-alt-teal {
  @include button(reverse, $clear, $teal, $teal, $white);
}

@mixin button-alt-gray {
  @include button(reverse, $clear, $gray, $gray, $white);
}

.button {
  @include button;

  &--gray {
    @include button-gray;
  }

  &--teal {
    @include button-teal;
  }

  &--alt {
    @include button-alt;
  }

  &--alt-gray {
    @include button-alt-gray;
  }

  &--alt-teal {
    @include button-alt-teal;
  }
}

.more-link {
  @include button;
}
