// Uses Foundation's button styles as a base.

// Remove undeline on link buttons.
a.button {
	text-decoration: none;
}

// Extra top padding on small buttons.
.button.small {
	padding-top: 0.875em;
}

// Overrides for solid buttons.
.button {
	.svg-inline--fa {
		color: $white;
		font-size: 85%;
		margin: rem-calc(0 0 1 8);
		&.fa-envelope {
			font-size: 95%;
			margin: rem-calc(0 0 0 8);
		}
	}
	&:focus {
		background: $button-background;
		outline: 3px solid $black;
		outline-offset: 1px;
	}

	@each $name, $color in $foundation-palette {
		&.#{$name} {
			&:focus {
				background: $color;
			}
		}
	}
}

// Overrides for hollow buttons.
.hollow.button {
	.svg-inline--fa {
		color: $button-background;
	}
	&:hover,
	&:focus {
		color: $white;
		background: $button-background;
		.svg-inline--fa {
			color: $white;
		}
	}
	&:focus {
		outline: 3px solid $black;
		outline-offset: 1px;
	}

	@each $name, $color in $foundation-palette {
		&.#{$name} {
			.svg-inline--fa {
				color: $color;
			}
			&:hover,
			&:focus {
				color: $white;
				background: $color;
				.svg-inline--fa {
					color: $white;
				}
			}
		}
	}
}
