// Uses Foundation's button styles as a base.

// Remove underline on link buttons.
a.button {
  text-decoration: none;
}

// Adjust padding on small buttons.
.button.small {
  padding: rem-calc(8 12 7);
}

// Buttons with icons.
.button {
  .svg-inline--fa {
    font-size: 85%;
    margin: rem-calc(0 0 1 8);
    &.fa-envelope {
      font-size: 95%;
      margin: rem-calc(0 0 0 8);
    }
  }
}

// Overrides for solid buttons.
.button {
  &:focus {
    background: $button-background;
    outline: 3px solid $black;
    outline-offset: 1px;
  }

  @each $name, $color in $foundation-palette {
    &.#{$name} {
      .svg-inline--fa {
        color: $white !important;
      }
      &:focus {
        background: $color;
      }
    }
  }
}

// Overrides for hollow buttons.
.hollow.button {
  &:hover,
  &:focus {
    color: $white;
    background: $button-background;
  }
  &:focus {
    outline: 3px solid $black;
    outline-offset: 1px;
  }

  @each $name, $color in $foundation-palette {
    &.#{$name} {
      &:hover,
      &:focus {
        color: $white;
        background: $color;
      }
    }
  }
}

// Disabled button style overrides.
.button.hollow.disabled {
  &:hover,
  &:focus {
    background: $white;
  }
}
