@mixin link {
  color: $color-link;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: $color-link--hover;
  }

  &:focus {
    outline: 1px dotted $color-link--hover;
    outline-offset: 2px;
  }
}