.main__inner {
	padding: rem-calc(16 0);
}

.content {
	margin: 0 auto;
}

.sidebar--1 {
	margin-bottom: rem-calc(30);
}
.sidebar--2 {
	margin-top: rem-calc(30);
}

@include breakpoint(medium) {
	.sidebar {
		margin: 0;
	}
	.sidebar--1 {
		padding-right: rem-calc(16);
	}
	.sidebar--2 {
		padding-left: rem-calc(16);
	}
}
