main {
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(40);
}

.content {
  margin: 0 auto;
}

.sidebar--1 {
  margin-bottom: rem-calc(30);
}
.sidebar--2 {
  margin-top: rem-calc(30);
}

.layout__wrapper {
  overflow: auto;
}

.layout__wrapper--primary-menu {
  overflow: visible;
}

.layout__wrapper--system,
.layout__wrapper--breadcrumb {
  background: white;
}

.layout__wrapper--pre-footer {
  background: $gray;
}

@include breakpoint(medium) {
  .sidebar {
    margin: 0;
  }
  .sidebar--1 {
    padding-right: rem-calc(16);
  }
  .sidebar--2 {
    padding-left: rem-calc(16);
  }
}
