.form-item__textfield {
  border: 1px solid $gray-lighter;
  padding: 0.6em;

  &:focus {
    outline: 2px dotted $color-link--hover;
  }

  &::-webkit-input-placeholder {
    color: $gray-light;
  }

  &:-moz-placeholder {
    color: $gray-light;
  }

  &::-moz-placeholder {
    color: $gray-light;
  }

  &:-ms-input-placeholder {
    color: $gray-light;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: 0;
  margin: 2em 0 1em;
  padding: 0;

  .form-item {
    margin-left: 1em;
  }
}
