@mixin info-box($background: $gray-lightest, $color: $gray-darkest) {
  background-color: $background;
  color: $color;
  margin-bottom: 1.5em;
  padding: 1.125em 1.25em 0.5em;
  width: 100%;

  .info-box__title {
    @include heading(24);
    color: $color;
  }

  @if $background == $white {
    border: 1px solid $gray-lightest;
  }
}

.info-box {
  @include info-box();
}

.info-box--white {
  @include info-box($white);
}

// Infobox sizes.
// Adjust a bit based on breakpoints.
@include breakpoint(medium) {
  .info-box--small {
    max-width: 320px;
  }

  .info-box--medium {
    max-width: 440px;
  }
}
@include breakpoint(large) {
  .info-box--large {
    max-width: 640px;
  }
}
