@mixin info-box($background: $gray-lightest, $color: $gray-darkest) {
  background-color: $background;
  color: $color;
  margin-bottom: 1em;
  padding: 1.125em 1.25em 0.5em;
  width: 100%;

  .info-box__title {
    @include heading(24);
    color: $color;
  }

  @if $background == $white {
    border: 1px solid $gray-lightest;
  }
}

.info-box {
  @include info-box();
}

.info-box--white {
  @include info-box($white);
}
