@mixin info-box($background: $near-white, $color: $near-black) {
	background-color: $background;
	color: $color;
	margin-bottom: $grid-margin-after;
	padding: $padding-y $padding-x $padding-y-bottom;
	width: 100%;

	.info-box__title {
		@include heading(26);
		color: $color;
		margin-bottom: $header-margin-bottom-narrow;
	}
}

.info-box {
	@include info-box();
}

.info-box--white {
	@include info-box($white);
}
