{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{attributes}}>
	<div class="login-box login-box--osu">
		<h2 class="login-box__header login-box__header--osu">Ohio State Users</h2>
		<a class="button" href="/saml_login">Log in with your Ohio State credentials</a>
	</div>
	<details class="details-item login-box--drupal">
		<summary>
			<h2 class="login-box__header login-box__header--drupal">Non-Ohio State Users</h2>
		</summary>
		<div class="details__inner details__inner--drupal">
			{% if pl == '1'  %}
				<div class="login-form">
					{% include "@atoms/05-form-elements/textfield/textfield.twig"
            with {
              field_label:user_field.field_label,
              field_description: user_field.field_description
          } %}
					{% include "@atoms/05-form-elements/textfield/textfield.twig"
            with {
              field_label:password_field.field_label,
              field_description: password_field.field_description
          } %}
					<button class="button" href="#">Submit</button>
				</div>
			{% else %}
				<div class="login-form">{{ children }}</div>
			{% endif %}
		</div>
	</details>
</form>
