$statuses: (
  "status": $success-color,
  "warning": $warning-color,
  "error": $alert-color,
) !default;

@each $status-type, $color in $statuses {
  .status--#{$status-type} {
    background: $color;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 1.5em;

    a {
      color: $near-white;
      font-weight: 600;
      text-decoration: underline;

      &:focus,
      &:hover {
        color: $white;
      }
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .icon {
      float: left;
      margin-right: 1.25em;
    }

    .svg-inline--fa {
      font-size: 2rem;
      margin-top: -0.1375em;
    }

    .placeholder {
      font-style: normal;
      font-weight: 700;
    }
  }
}

// Adjust enclosing box.
.status-box {
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(4);
  ul {
    padding: 0;
    margin: 0;
  }
}
