@mixin heading(
  $size: 36,
  $weight: $header-font-weight,
  $color: $header-color,
  $font-family: $header-font-family,
  $line-height: $header-lineheight,
  $color-link: inherit,
  $color-link-hover: $header-color--hover
) {
  font-size: rem-calc($size);
  font-weight: $weight;
  color: $color;
  font-family: $proxima;
  line-height: $line-height;
  a,
  &__link {
    color: $color-link;
    text-decoration: none;
    font-weight: $weight;

    &:hover {
      color: $color-link-hover;
    }

    &:focus {
      outline: 1px dotted $color-link-hover;
      outline-offset: 2px;
    }
  }
}

h1,
.h1 {
  @include heading(44, 700, $line-height: 1.1);
}

h2,
.h2 {
  @include heading(32, 700);
}

h3,
.h3 {
  @include heading(26);
}

h4,
.h4 {
  @include heading(22);
}

h5,
.h5 {
  @include heading(20, 400);
}

h6,
.h6 {
  @include heading(18, 400);
}

h1.page-title {
  margin-top: $space-y;
}

// Headers within long text.
.field--type-text-long {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $space-y;
  }
}
