
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <!-- JS necessary for components -->
    <script src="../../js/other/hoverintent.min.js"></script>
    <script src="../../js/patterns/02-molecules/menus/main-menu/a11yNavbar.js"></script>
    <script src="../../js/patterns/02-molecules/menus/main-menu/main-menu.js"></script>
    <script src="../../js/patterns/02-molecules/details/details.js"></script>
    <script src="../../js/patterns/01-atoms/01-links/00-link/link.js"></script>

  </body>
</html>