@mixin link {
	color: $color-link;
	text-decoration: underline;
	font-weight: 400;

	&:hover {
		color: $color-link--hover;
	}

	&:focus {
		outline: 1px dotted $color-link--hover;
		outline-offset: 2px;
	}
}

a {
	@include link;
}

// extlinks
a.ext,
a.link--ext,
a.mailto,
a.link--mailto {
	.svg-inline--fa {
		margin: rem-calc(0 8 0 6);
		font-size: 85%;
	}
}

// Link styled as a button.
a.button,
a.link--button {
	@include button();
	font-weight: 600;
	text-decoration: none;
}
