{#
/**
 * @file
 * Pattern for a block of social-media-links.
 *
 */
#}

<div class="social-media-links">
  <ul class="social-media-links__list">
    {% for social_link in social_links %}
      {% include "@atoms/01-links/social-media-ink/social-media-link.twig" %}
    {% endfor %}
  </ul>
</div>
