{#
/**
 * @file
 * Pattern for a block of social-media-links.
 *
 */
#}

<div id="social-media-block" class="social-media">
  <ul {{ bem('list', '' ,'social-media') }} >
    {% for social_link in social_links %}
      {% include "@atoms/01-links/social-media-ink/social-media-link.twig" %}
    {% endfor %}
  </ul>
</div>
