// It is preferable to use the mixin directly, but this should cover when these classes are used in legacy code.
.visually-hidden,
.visuallyhidden {
  @include visually-hidden();
}

.skip-link {
  @include visually-hidden($focusable: true);

  &:focus {
    padding: rem-calc(10 16) !important;
    color: $white;
    background-color: $red;
    outline: none;
  }
}

// Image ratios.
.ratio-1-1 {
  @include ratio(1, 1);
}

.ratio-3-2 {
  @include ratio(3, 2);
}

.ratio-4-3 {
  @include ratio(4, 3);
}

.ratio-16-9 {
  @include ratio(16, 9);
}
