@mixin tile($background: $near-white, $color: $near-black) {
  background-color: $background;
  color: $color;
  margin-bottom: $grid-margin-after;
  padding: $padding-y $padding-x $padding-y-bottom;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  color: $color;

  &:hover {
    background: darken($background, 2%);
  }

  .tile__icon {
    max-width: rem-calc(100);
    height: auto;
    margin: $space-y-half auto $space-y;
  }

  .tile__title {
    color: $color;
    margin-top: 3px;

    h2,
    h3,
    h4 {
      @include heading(26, 700);
      margin-bottom: $header-margin-after-less;
    }
  }
  .tile__body {
    font-family: $capita;
    font-style: italic;
    font-weight: 300;
  }

  @if $background == $white {
    border: 1px solid $gray-border;
  }
}

a.tile {
  @include tile();
}

a.tile--white {
  @include tile($white);
}
