@mixin tile($background: $near-white, $color: $black) {
  background-color: $background;
  color: $color;
  margin-bottom: $grid-margin-after;
  padding: $padding-y $padding-x $padding-y-bottom;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  color: $color;

	&:hover,
  &:focus {
    outline: 2px solid $near-black;
  }

  .tile__icon {
    max-width: rem-calc(100);
    height: auto;
    margin: $space-y / 2 auto $space-y;
  }

  .tile__title {
    @include heading(22, 700);
    margin-bottom: $header-margin-bottom-narrow;
    color: $color;
    margin-top: 3px;

    h2,
    h3,
    h4,
    h5,
    h6 {
      @include heading(22, 700);
      margin-bottom: 0;
    }
  }

  .tile__label {
    font-size: rem-calc(18);
    line-height: 1.125;
    font-weight: 400;
    margin: rem-calc(20 0 14);
  }

  .tile__body {
    font-family: $capita;
    font-style: italic;
    font-weight: 300;
  }
}

a.tile {
  @include tile();
}

a.tile--title-only {
  .tile__title {
    @include heading(18, 600);
    margin-top: 20;
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include heading(18, 600);
    }
  }
}

a.tile--white {
  background: white;
}