blockquote {
	font-family: $capita;
	font-size: rem-calc(18);
	line-height: 1.75;
	font-weight: 300;
	font-style: italic;
	margin: rem-calc(36 40);

	cite {
		font-family: $proxima;
		font-weight: 700;
		font-style: normal;
		padding-top: rem-calc(12);
	}
}
