{#
/**
 * Available variables:
 * - blockquote_base_class - the base classname
 * - blockquote_modifiers - array of modifiers to add to the base classname
 * - blockquote_content - the content of the blockquote (typically text)
 *
 * Available blocks:
 * - blockquote_content - used to replace the content of the blockquote with something other than text
 *   for example: A formatted text field in Drupal
 */
#}

{% set blockquote_base_class = blockquote_base_class|default('blockquote') %}
{% set classes_array = [blockquote_base_class] %}

{% if blockquote_modifiers is defined %}
  {% for blockquote_modifier in blockquote_modifiers %}
    {% set classes_array = classes_array|merge(["#{blockquote_base_class}--#{blockquote_modifier}"]) %}
  {% endfor %}
  {% set blockquote_classes = classes_array|join(' ') %}
{% else %}
  {% set blockquote_classes = blockquote_base_class %}
{% endif %}



<blockquote class="{{ blockquote_classes }}">
  {% block blockquote_content %}
    {% if blockquote_base_class == 'pull-quote' %}
      <div class="pull-quote__icon"><i class="fas fa-quote-left fa-3x"></i></div>
      <div class="pull-quote__text"><p>{{ blockquote_content }}</p></div>
    {% else %}
      <p>{{ blockquote_content }}</p>
    {% endif %}
  {% endblock %}
</blockquote>
