.more-link {
	a {
		display: inline-block;
		text-decoration: none;
		background: $white;
		color: $red;
		border: 1px solid $red;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		padding: 9px 13px 8px;

		&:hover,
		&:active {
			background: $red;
			color: $white;
		}

		&:focus {
			background: $red;
			color: $white;
			outline: 2px dotted $near-black;
			outline-offset: 1px;
		}
	}
}
