//common elements
.masthead {
  @include clearfix;
}

#site-name {
  float: left;
  display: table;
}

.site-name__inner {
  display: table-cell;
  vertical-align: middle;
}

.site-name__prefix {
  display: block;
}

#site-logo {
  display: none;
  float: right;

  @include medium {
    display: block;
  }
}

//mixin for masthead--standard
@mixin masthead-standard($bg-color: $gray-darkest, $text-color: $white) {
  background: $bg-color;
  padding: $space-one-half 0;

  #site-name {
    @include medium {
      padding-right: 2em;
      height: 135px;
    }
  }

  .site-name__prefix {
    font-size: 1.2rem;
    font-weight: 300;
    color: $text-color;
    letter-spacing: 0.0125em;
    margin-left: 2px;
  }

  .site-name__link {
    @include heading-xl();

    font-size: 3rem;
    line-height: 105%;
    text-decoration: none;
    color: $text-color;
    letter-spacing: 0.0125em;
  }

  .site-name__link--long {
    font-size: 2rem;
  }

  .site-logo__image {
    height: 135px;
    width: auto;
    border: none;
  }
}

//mixin for masthead--slim
@mixin masthead-slim($bg-color: $gray-darkest, $text-color: $white) {
  background: $bg-color;

  #site-name {
    min-height: 90px;

    @include medium {
      padding-right: 2em;
      height: 120px;
    }
  }

  .site-name__prefix {
    font-size: 1rem;
    font-weight: 300;
    color: $text-color;
    margin-bottom: -3px;
    margin-left: 2px;
  }

  .site-name__link {
    @include heading-xl();

    font-size: 2.6rem;
    font-weight: 600;
    line-height: 105%;
    text-decoration: none;
    color: $text-color;
    letter-spacing: 0.0125em;
  }

  .site-name__link--long {
    font-size: 2rem;
  }

  .site-logo__image {
    height: 85px;
    width: auto;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(49, 49, 49, 0.5);
  }
}

// apply mixins based on class
.masthead--standard,
.masthead--standard.masthead--dk-gray {
  @include masthead-standard;
}

.masthead--standard.masthead--md-gray {
  @include masthead-standard($gray);
}

.masthead--standard.masthead--lt-gray {
  @include masthead-standard($gray-lightest, $gray-darker);
}

.masthead--standard.masthead--white {
  @include masthead-standard($white, $gray-dark);
}

.masthead--slim,
.masthead--slim.masthead--dk-gray {
  @include masthead-slim;
}

.masthead--slim,
.masthead--slim.masthead--md-gray {
  @include masthead-slim($gray);
}

.masthead--slim,
.masthead--slim.masthead--lt-gray {
  @include masthead-slim($gray-lightest, $gray-darker);
}

.masthead--slim,
.masthead--slim.masthead--white {
  @include masthead-slim($white, $gray-dark);
}
