//common elements
.masthead {
  @include clearfix;
}

.masthead__inner {
}

#site-name {
  display: table;
}

.site-name__inner {
  display: table-cell;
  vertical-align: middle;
}

.site-name__prefix {
  display: block;
}

#site-logo {
  display: none;
  float: right;

  @include breakpoint(medium) {
    display: block;
  }
}

//mixin for masthead--standard
@mixin masthead-standard($bg-color: $gray-darkest, $text-color: $white) {
  background: $bg-color;
  padding: 0.75em 0;

  #site-name {
    @include breakpoint(medium) {
      padding-right: 2em;
      height: 135px;
    }
  }

  .site-name__prefix {
    font-size: rem-calc(18);
    font-weight: 400;
    color: $text-color;
    letter-spacing: 0.0125em;
    margin-left: 2px;
  }

  .site-name__link {
    @include heading(42, 700);
    line-height: 105%;
    text-decoration: none;
    color: $text-color;
    letter-spacing: 0.0125em;

    @include breakpoint(large) {
      font-size: rem-calc(48);
    }
  }

  .site-name__link--long {
    font-size: rem-calc(30);
  }

  .site-logo__image {
    width: auto;
    border: none;
    float: right;
    @include breakpoint(medium) {
      height: 125px;
    }
    @include breakpoint(large) {
      height: 135px;
    }
  }
}

//mixin for masthead--slim
@mixin masthead-slim($bg-color: $gray-darkest, $text-color: $white) {
  background: $bg-color;

  #site-name {
    min-height: 90px;
    padding: 0.75em 0;

    @include breakpoint(medium) {
      padding-right: 2em;
      height: 120px;
    }
  }

  .site-name__prefix {
    font-size: 1rem;
    font-weight: 300;
    color: $text-color;
    margin-bottom: -3px;
    margin-left: 2px;
  }

  .site-name__link {
    @include heading(42, 700);
    line-height: 105%;
    text-decoration: none;
    color: $text-color;
    letter-spacing: 0.0125em;

    @include breakpoint(large) {
      font-size: rem-calc(48);
    }
  }

  .site-name__link--long {
    font-size: rem-calc(30);
  }

  .site-logo__image {
    height: 90px;
    width: auto;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(49, 49, 49, 0.5);
    float: right;
  }
}

// apply mixins based on class
.masthead--standard,
.masthead--standard.masthead--dk-gray {
  @include masthead-standard;
}

.masthead--standard.masthead--md-gray {
  @include masthead-standard($gray);
}

.masthead--standard.masthead--lt-gray {
  @include masthead-standard($gray-lightest, $gray-darker);
}

.masthead--standard.masthead--white {
  @include masthead-standard($white, $gray-dark);
}

.masthead--slim,
.masthead--slim.masthead--dk-gray {
  @include masthead-slim;
}

.masthead--slim,
.masthead--slim.masthead--md-gray {
  @include masthead-slim($gray);
}

.masthead--slim,
.masthead--slim.masthead--lt-gray {
  @include masthead-slim($gray-lightest, $gray-darker);
}

.masthead--slim,
.masthead--slim.masthead--white {
  @include masthead-slim($white, $gray-dark);
}
