<div class="info-box-grid grid-x grid-margin-x">
	{% for box in info_box_data %}
		{% if loop.length > 5 %}
			{% set item_classes = 'cell small-12 medium-6 large-4 xlarge-3 grid-grow' %}
		{% else %}
			{% set item_classes = 'cell small-12 medium-auto' %}
		{% endif %}
		{% include "@molecules/info-box/info-box.twig" with {
      "infobox_modifiers": box.infobox_modifiers,
      "infobox_extra_classes": item_classes,
      "infobox_heading_level": box.heading_level,
      "infobox_title": box.infobox_title,
      "infobox_text": box.infobox_text,
    } %}
	{% endfor %}
</div>
