<form>
	<fieldset class="form-fieldset form-fieldset--address ">

		<legend>Address</legend>

		<div class="form-item cell">
			{% include "@atoms/05-form-elements/textfield/textfield.twig"
          with {field_label:address_field.field_label,
            field_placeholder:address_field.field_placeholder
          } %}
		</div>

		<div class="form-items--inline grid-x grid-margin-x">
			<div class="form-item form-item--inline cell medium-3">
				{% include "@atoms/05-form-elements/textfield/textfield.twig"
            with {field_label:zip_field.field_label,
              field_placeholder:zip_field.field_placeholder
            } %}
			</div>

			<div class="form-item form-item--inline cell medium-4">
				{% include "@atoms/05-form-elements/select/select.twig"
            with {field_label:state_dropdown.field_label,
              list_items:state_dropdown.list_items
            } %}
			</div>
		</div>

		<button class="button" href="#">Submit</button>

	</fieldset>
</form>
