<div class='tile-grid grid-x grid-margin-x'>
	{% for tile in tile_data %}

		{% set count = loop.length %}
		{% set auto = 'cell small-6 medium-auto grid-grow' %}
		{% set three_across = 'cell small-6 medium-4 grid-grow' %}
		{% set four_across = 'cell small-6 large-3 grid-grow' %}
		{% set default = 'cell small-6 medium-4 large-3 grid-grow' %}

		{% if count < 6 %}
			{% set item_classes = auto %}
		{% elseif count is divisible by(4) %}
			{% set item_classes = four_across %}
		{% elseif count is divisible by(3) %}
			{% set item_classes = three_across %}
		{% else %}
			{% set item_classes = default %}
		{% endif %}

		{% include "@molecules/tile/tile.twig" with {
      "tile_modifiers": tile.tile_modifiers,
      "tile_extra_classes": item_classes,
      "tile_heading_level": tile.heading_level,
      "tile_link": tile.tile_link,
      "tile_icon_src": tile.tile_icon_src,
      "tile_icon_alt": tile.tile_icon_alt,
      "tile_title": tile.tile_title,
      "tile_text": tile.tile_text,
      } %}
	{% endfor %}
</div>
