// Background color for main content. Body color is set by footer color.
.layout-container,
.layout__wrapper--main {
	background: white;
}

body.footer-color {
	&--dk-gray {
		background: $near-black;
	}

	&--md-gray {
		background: $gray;
	}

	&--lt-gray {
		background: $near-white;
	}

	&--white {
		background: white;
	}
}

// TODO: Determine if this really belongs here.
