.tagline {
  font-family: $capita;
  font-size: rem-calc(28);
  font-style: italic;
  font-weight: 600;
  margin: $space-one-fourth 0;
  line-height: 1.4;
}

.tagline--small {
  font-size: rem-calc(22);
  font-weight: 400;
}
