.card {
  background-color: $white;
  box-shadow: $drop-shadow;
  border: none;
  display: grid;
  grid-gap: 1.125em;
  grid-template-rows: auto 1fr auto;
}

.card__image {
  border: none;
  height: auto;
  width: 100%;
}

.card__content {
  padding: 0 1.25em;
}

.card__title {
  @include heading(26, 700, $line-height: 1.125);
  margin-bottom: $header-margin-bottom-narrow;
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading(26, 700, $line-height: 1.125);
    margin-bottom: 0;
  }
}

.card__text {
  font-weight: 400;

  p:last-child {
    margin-bottom: 0;
  }
}

.card__link {
  padding: 0 1.25em;
}
