.card {
  display: inline-block;
  margin-bottom: $grid-margin-after;
  overflow: hidden;
  background-color: $white;
  box-shadow: $drop-shadow;
  border: none;
  width: 100%;
}

.card__image {
  border: none;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.card__inner {
  padding: $padding-y $padding-x $padding-y-bottom;
  display: grid;
  grid-template-rows: auto [title] auto [body] 40px [link-start];
}

.card__title {
  grid-row-start: title;
  @include heading(26, 700);
  margin-bottom: $header-margin-bottom-narrow;
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading(26, 700);
    margin-bottom: 0;
  }
}

.card__content {
  grid-row-start: body;
  font-weight: 400;

  p:last-child {
    margin-bottom: 0;
  }
}

.card__link {
  grid-row-start: link-start;
  margin-top: 3rem;
}
