{#
/**
 *
 * Pattern for the card molecule
 *
 * Available variables:
 * - card_size: card size, either small, medium or large
 * - card_image: url for the card's header image
 * - card_title: text string for the card's title
 * - card_text: text string for the card's content
 * - card_button_content: text string for the button label
 * - card_button_modifiers: modifiers for the button class, default it "alt"
 *
 */
#}


<div class="card card--{{ card_size }}">
  <img class="card__image" alt="Card Image" src="{{ card_image }}"/>
  <h1 class="card__title">{{ card_title }}</h1>
  <p class="card__content">{{ card_text }}</p>

  {# Card button #}
  {%
    include "@atoms/02-buttons/01-button.twig" with {
      "button_content": card_button_content,
      "button_modifiers": card_button_modifiers|default(['alt']),
      "button_url": card_button_url
    } %}
</div>
