{#
/**
 * @file
 * Pattern for osu-navbar.
 */
#}


<div role="navigation" id="osu_navbar" class="{{ osu_navbar_color }}" aria-labelledby="osu_navbar_heading">

  <h2 id="osu_navbar_heading" class="visually-hidden">Ohio State nav bar</h2>

	<div class="navbar__inner">

  	<div class="univ_info">
  		<p class="univ_name"><a href="http://osu.edu" title="The Ohio State University">The Ohio State University</a></p>
  	</div><!-- /univ_info -->

  	<div class="univ_links">
  		<div class="links">
  			<ul>
  				<li><a href="http://www.osu.edu/help.php" class="help">Help</a></li>
  				<li><a href="http://buckeyelink.osu.edu/" class="buckeyelink" >BuckeyeLink</a></li>
  				<li><a href="http://www.osu.edu/map/" class="map">Map</a></li>
  				<li><a href="http://www.osu.edu/findpeople.php" class="findpeople">Find People</a></li>
  				<li><a href="https://email.osu.edu/" class="webmail">Webmail</a></li>
  				<li><a href="http://www.osu.edu/search/" class="search">Search Ohio State</a></li>
  			</ul>
  		</div><!-- /links -->
  	</div><!-- /univ_links -->

	</div><!-- /navbar_inner -->

</div><!-- /osu_navbar -->
